@model PL.Models.InventoryItemViewModel

<h2>Add Medical equipment to @Model.Status Area</h2>
<form asp-action="AddItem" method="post">
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="Location"/>
    <div class="form-group">
        <select asp-for="ItemId" asp-items="@Model.ItemList" class="form-select border-0 shadow">
            <option disabled selected>--Select Item--</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate" class="control-label"></label>
        <input asp-for="ExpiryDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="Container" class="control-label"></label>
        <input asp-for="Container" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
