@model WorkerItemViewModel

<h2>Pick Up Item</h2>
<form asp-action="ConfirmPickUp" asp-controller="Inventory" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="InventoryItem.Item.Id" />

    <div class="form-group">
        <label asp-for="InventoryItem.Item.Name">Item</label>
        <input type="text" asp-for="InventoryItem.Item.Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="InventoryItem.Quantity">Quantity</label>
        <input type="number" asp-for="InventoryItem.Quantity" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="InventoryItem.Location">Location From</label>
        <input type="text" asp-for="InventoryItem.Location" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="LocationTo">Location To</label>
        <input type="text" asp-for="LocationTo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Confirm Pick Up</button>
</form>
