@{
    ViewData["Title"] = "Home Page";
}

<div class="col-6 col-md-3">
    <a asp-controller="Warehouse" asp-action="Create" class="btn btn-outline-primary border  form-control">
        Warehouse
    </a>
</div>
